<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.music.dao.mapper.MusicPagePOMapper" >
  <resultMap id="BaseResultMap" type="com.netease.music.dao.po.MusicPagePO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="resource_id" property="resourceId" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="artist" property="artist" jdbcType="VARCHAR" />
    <result column="page_type" property="pageType" jdbcType="TINYINT" typeHandler="com.netease.music.dao.typehandler.PageTypeEnumHandler" />
    <result column="crawling_status" property="crawlingStatus" jdbcType="TINYINT" typeHandler="com.netease.music.dao.typehandler.CrawlingStatusEnumHandler" />
    <result column="play_count" property="playCount" jdbcType="INTEGER" />
    <result column="favorites_count" property="favoritesCount" jdbcType="INTEGER" />
    <result column="forward_count" property="forwardCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="db_update_time" property="dbUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.pageTypeCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler} and #{criterion.secondValue,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.crawlingStatusCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler} and #{criterion.secondValue,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.pageTypeCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler} and #{criterion.secondValue,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.crawlingStatusCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler} and #{criterion.secondValue,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, resource_id, url, title, artist, page_type, crawling_status, play_count, favorites_count, 
    forward_count, comment_count, db_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.netease.music.dao.po.MusicPagePOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from music_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from music_page
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from music_page
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.netease.music.dao.po.MusicPagePO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into music_page (resource_id, url, title, 
      artist, page_type, 
      crawling_status, 
      play_count, favorites_count, forward_count, 
      comment_count, db_update_time)
    values (#{resourceId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{artist,jdbcType=VARCHAR}, #{pageType,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler}, 
      #{crawlingStatus,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler}, 
      #{playCount,jdbcType=INTEGER}, #{favoritesCount,jdbcType=INTEGER}, #{forwardCount,jdbcType=INTEGER}, 
      #{commentCount,jdbcType=INTEGER}, #{dbUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.netease.music.dao.po.MusicPagePO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into music_page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resourceId != null" >
        resource_id,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="artist != null" >
        artist,
      </if>
      <if test="pageType != null" >
        page_type,
      </if>
      <if test="crawlingStatus != null" >
        crawling_status,
      </if>
      <if test="playCount != null" >
        play_count,
      </if>
      <if test="favoritesCount != null" >
        favorites_count,
      </if>
      <if test="forwardCount != null" >
        forward_count,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
      <if test="dbUpdateTime != null" >
        db_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resourceId != null" >
        #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="artist != null" >
        #{artist,jdbcType=VARCHAR},
      </if>
      <if test="pageType != null" >
        #{pageType,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler},
      </if>
      <if test="crawlingStatus != null" >
        #{crawlingStatus,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler},
      </if>
      <if test="playCount != null" >
        #{playCount,jdbcType=INTEGER},
      </if>
      <if test="favoritesCount != null" >
        #{favoritesCount,jdbcType=INTEGER},
      </if>
      <if test="forwardCount != null" >
        #{forwardCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="dbUpdateTime != null" >
        #{dbUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.netease.music.dao.po.MusicPagePOExample" resultType="java.lang.Integer" >
    select count(*) from music_page
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update music_page
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.resourceId != null" >
        resource_id = #{record.resourceId,jdbcType=BIGINT},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.artist != null" >
        artist = #{record.artist,jdbcType=VARCHAR},
      </if>
      <if test="record.pageType != null" >
        page_type = #{record.pageType,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler},
      </if>
      <if test="record.crawlingStatus != null" >
        crawling_status = #{record.crawlingStatus,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler},
      </if>
      <if test="record.playCount != null" >
        play_count = #{record.playCount,jdbcType=INTEGER},
      </if>
      <if test="record.favoritesCount != null" >
        favorites_count = #{record.favoritesCount,jdbcType=INTEGER},
      </if>
      <if test="record.forwardCount != null" >
        forward_count = #{record.forwardCount,jdbcType=INTEGER},
      </if>
      <if test="record.commentCount != null" >
        comment_count = #{record.commentCount,jdbcType=INTEGER},
      </if>
      <if test="record.dbUpdateTime != null" >
        db_update_time = #{record.dbUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update music_page
    set id = #{record.id,jdbcType=BIGINT},
      resource_id = #{record.resourceId,jdbcType=BIGINT},
      url = #{record.url,jdbcType=VARCHAR},
      title = #{record.title,jdbcType=VARCHAR},
      artist = #{record.artist,jdbcType=VARCHAR},
      page_type = #{record.pageType,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler},
      crawling_status = #{record.crawlingStatus,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler},
      play_count = #{record.playCount,jdbcType=INTEGER},
      favorites_count = #{record.favoritesCount,jdbcType=INTEGER},
      forward_count = #{record.forwardCount,jdbcType=INTEGER},
      comment_count = #{record.commentCount,jdbcType=INTEGER},
      db_update_time = #{record.dbUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.netease.music.dao.po.MusicPagePO" >
    update music_page
    <set >
      <if test="resourceId != null" >
        resource_id = #{resourceId,jdbcType=BIGINT},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="artist != null" >
        artist = #{artist,jdbcType=VARCHAR},
      </if>
      <if test="pageType != null" >
        page_type = #{pageType,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler},
      </if>
      <if test="crawlingStatus != null" >
        crawling_status = #{crawlingStatus,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler},
      </if>
      <if test="playCount != null" >
        play_count = #{playCount,jdbcType=INTEGER},
      </if>
      <if test="favoritesCount != null" >
        favorites_count = #{favoritesCount,jdbcType=INTEGER},
      </if>
      <if test="forwardCount != null" >
        forward_count = #{forwardCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="dbUpdateTime != null" >
        db_update_time = #{dbUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netease.music.dao.po.MusicPagePO" >
    update music_page
    set resource_id = #{resourceId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      artist = #{artist,jdbcType=VARCHAR},
      page_type = #{pageType,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.PageTypeEnumHandler},
      crawling_status = #{crawlingStatus,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.CrawlingStatusEnumHandler},
      play_count = #{playCount,jdbcType=INTEGER},
      favorites_count = #{favoritesCount,jdbcType=INTEGER},
      forward_count = #{forwardCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      db_update_time = #{dbUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>