<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.music.dao.mapper.ProxyPOMapper" >
  <resultMap id="BaseResultMap" type="com.netease.music.dao.po.ProxyPO" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="ip" property="ip" jdbcType="INTEGER" />
    <result column="port" property="port" jdbcType="INTEGER" />
    <result column="ip_string" property="ipString" jdbcType="VARCHAR" />
    <result column="http_proxy" property="httpProxy" jdbcType="TINYINT" typeHandler="com.netease.music.dao.typehandler.BooleanIntEnumHandler" />
    <result column="https_proxy" property="httpsProxy" jdbcType="TINYINT" typeHandler="com.netease.music.dao.typehandler.BooleanIntEnumHandler" />
    <result column="location_info" property="locationInfo" jdbcType="VARCHAR" />
    <result column="db_update_time" property="dbUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.httpProxyCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler} and #{criterion.secondValue,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.httpsProxyCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler} and #{criterion.secondValue,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.httpProxyCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler} and #{criterion.secondValue,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
            <foreach collection="criteria.httpsProxyCriteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler} and #{criterion.secondValue,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, ip, port, ip_string, http_proxy, https_proxy, location_info, db_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.netease.music.dao.po.ProxyPOExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from proxy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="pageInfo != null" >
      limit #{pageInfo.offset} , #{pageInfo.pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from proxy
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from proxy
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.netease.music.dao.po.ProxyPOExample" >
    delete from proxy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.netease.music.dao.po.ProxyPO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into proxy (ip, port, ip_string, 
      http_proxy, 
      https_proxy, 
      location_info, db_update_time)
    values (#{ip,jdbcType=INTEGER}, #{port,jdbcType=INTEGER}, #{ipString,jdbcType=VARCHAR}, 
      #{httpProxy,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}, 
      #{httpsProxy,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler}, 
      #{locationInfo,jdbcType=VARCHAR}, #{dbUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.netease.music.dao.po.ProxyPO" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into proxy
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ip != null" >
        ip,
      </if>
      <if test="port != null" >
        port,
      </if>
      <if test="ipString != null" >
        ip_string,
      </if>
      <if test="httpProxy != null" >
        http_proxy,
      </if>
      <if test="httpsProxy != null" >
        https_proxy,
      </if>
      <if test="locationInfo != null" >
        location_info,
      </if>
      <if test="dbUpdateTime != null" >
        db_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ip != null" >
        #{ip,jdbcType=INTEGER},
      </if>
      <if test="port != null" >
        #{port,jdbcType=INTEGER},
      </if>
      <if test="ipString != null" >
        #{ipString,jdbcType=VARCHAR},
      </if>
      <if test="httpProxy != null" >
        #{httpProxy,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler},
      </if>
      <if test="httpsProxy != null" >
        #{httpsProxy,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler},
      </if>
      <if test="locationInfo != null" >
        #{locationInfo,jdbcType=VARCHAR},
      </if>
      <if test="dbUpdateTime != null" >
        #{dbUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.netease.music.dao.po.ProxyPOExample" resultType="java.lang.Integer" >
    select count(*) from proxy
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update proxy
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=INTEGER},
      </if>
      <if test="record.port != null" >
        port = #{record.port,jdbcType=INTEGER},
      </if>
      <if test="record.ipString != null" >
        ip_string = #{record.ipString,jdbcType=VARCHAR},
      </if>
      <if test="record.httpProxy != null" >
        http_proxy = #{record.httpProxy,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler},
      </if>
      <if test="record.httpsProxy != null" >
        https_proxy = #{record.httpsProxy,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler},
      </if>
      <if test="record.locationInfo != null" >
        location_info = #{record.locationInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.dbUpdateTime != null" >
        db_update_time = #{record.dbUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update proxy
    set id = #{record.id,jdbcType=BIGINT},
      ip = #{record.ip,jdbcType=INTEGER},
      port = #{record.port,jdbcType=INTEGER},
      ip_string = #{record.ipString,jdbcType=VARCHAR},
      http_proxy = #{record.httpProxy,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler},
      https_proxy = #{record.httpsProxy,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler},
      location_info = #{record.locationInfo,jdbcType=VARCHAR},
      db_update_time = #{record.dbUpdateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.netease.music.dao.po.ProxyPO" >
    update proxy
    <set >
      <if test="ip != null" >
        ip = #{ip,jdbcType=INTEGER},
      </if>
      <if test="port != null" >
        port = #{port,jdbcType=INTEGER},
      </if>
      <if test="ipString != null" >
        ip_string = #{ipString,jdbcType=VARCHAR},
      </if>
      <if test="httpProxy != null" >
        http_proxy = #{httpProxy,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler},
      </if>
      <if test="httpsProxy != null" >
        https_proxy = #{httpsProxy,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler},
      </if>
      <if test="locationInfo != null" >
        location_info = #{locationInfo,jdbcType=VARCHAR},
      </if>
      <if test="dbUpdateTime != null" >
        db_update_time = #{dbUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netease.music.dao.po.ProxyPO" >
    update proxy
    set ip = #{ip,jdbcType=INTEGER},
      port = #{port,jdbcType=INTEGER},
      ip_string = #{ipString,jdbcType=VARCHAR},
      http_proxy = #{httpProxy,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler},
      https_proxy = #{httpsProxy,jdbcType=TINYINT,typeHandler=com.netease.music.dao.typehandler.BooleanIntEnumHandler},
      location_info = #{locationInfo,jdbcType=VARCHAR},
      db_update_time = #{dbUpdateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>